#container
{
    background-color:rgb(225, 141, 30);
    width:100%;
    overflow-x: hidden;
    
}
.body_
{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 0px;
    margin-left: 0%;
    
}
.web_title
{
    padding: 10px;
    font-size: 50px;
    text-shadow: 5px;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.thali
{
    border-radius: 100%;
    height: 160px;
    weight: 100px;
}
.website_name
{
    font-family: 'Fugaz One', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    
}
.navbar
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
    border: 8px solid blueviolet;
    border-radius: 100px;
}
.nav_links
{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px;
}
a
{
    padding: 10px;
    font-size:larger;
    font-weight: 400;
    font-style: normal;
}
.logo, img
{
    /* padding: 20px; */
    height: 150px;
    width: 200px;
}
.card
{
    border:3px solid blueviolet;
    width: 312px;
    height: 400px;
    padding: 1px;
    margin: 20px;
    border-radius: 5%;
    background-color: rgb(245, 245, 175);

}
.shimeercard
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sh_card
{
    width: 312px;
    height: 371px;
    /* padding: 8px; */
    margin: 20px;
    border-radius: 5%;
    background-color: rgb(201, 202, 203);
    overflow: hidden;

}
.card_animation{
    width: 30px;
    height: 490px;
    
    border-radius: 5%;
    background-color: rgb(174, 175, 176);
    background: linear-gradient(120deg,
    rgba(245, 245, 242, 0.2) 30%,
    rgba(237, 237, 234, 0.2) 50%,
    rgba(247, 244, 247, 0.2) 80%);
    animation: shimmer 1s infinite linear;
 }
 @keyframes shimmer {
    from {transform: translateX(-20%);}
    to {transform: translateX(1500%);}
 }
.card>img
{
    width: 100%;
    height: 208px;
    border-radius: 5%;
    
}
.cardData
{
    padding: 10px;
    text-decoration: none;
}
.cardData-text{
    margin-bottom: -10px;
    text-decoration: none;
    color: rgb(1, 2, 13);
}
.cardData-text:hover
{
    color: blue;
    text-decoration: none;
}
.search-container 
{
    
    text-align: center;   
}
.search-input
{
    margin: 20px 4px 20px 20px;
    height: 30px;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border-color: blueviolet;
    border-width: 3px;
}
.search-btn
{
    /* height: 30px; */
    padding: 6px;
    border-radius: 10px;
    border-width: 3px;
    border-color: blueviolet;
}
.footer-parent-div
{
    height: 200px;
    width: 100%;
    margin-top: 70px;
    /* padding: 20px; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;
    /* position: sticky; */
    bottom: 0;
}
.footer-button
{
    height: 50px;
    width: 150px;
    color: black;
    font-weight: 500;
    font-size: larger;
}